{% extends 'base.html.twig' %}

{% block title %}Calendrier des Packs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Ajout du CSS de FullCalendar #}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Calendrier des Packs</h1>

        {# Affichage du calendrier #}
        <div id="calendar"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth', // Choix de la vue initiale
                locale: 'fr',
                events: {{ events|json_encode|raw }}, // Injection des événements dans le calendrier
                eventClick: function(info) {
                    alert('Pack: ' + info.event.title);
                }
            });

            calendar.render(); // Rendre le calendrier
        });
    </script>
{% endblock %}
