<form method="post"
      action="{{ path('app_avis_delete', {'id': avi.id}) }}"
      onsubmit="return confirm('Supprimer cet avis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete'~avi.id) }}">
    <button class="btn">Supprimer</button>
</form>
