{% extends 'base.html.twig' %}
{% block title %}Créer un avis{% endblock %}
{% block body %}
    <h1>Créer un avis</h1>
    {{ include('avis/_form.html.twig') }}
    <a href="{{ path('app_avis_index') }}">← Retour</a>
{% endblock %}
