{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation Hébergement{% endblock %}

{% block body %}
<h1>Créer une nouvelle Réservation Hébergement</h1>

{{ include('reservation_hebergement/_form.html.twig') }}

<a href="{{ path('app_reservation_hebergement_index') }}">Retour à la liste</a>
{% endblock %}
