

<!DOCTYPE html>


<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur mon site</h1>



    <a href="{{ path(''show_base_template'') }}">Voir le template de base</a>
</body>
</html>' > templates/home.html.twig



